# How to complete this assignment
First, download [this Kaggle dataset](https://www.kaggle.com/hugomathien/soccer) and extract *sqlite* database. You may need to register at https://www.kaggle.com/ beforehand. Then complete 15 graded tasks below, the score is given in brackets. Finally submit the resulting `.ipynb` file to rs-app Auto-test.

- Do not delete or rename the variables given before the inscription `#your code here`, they are needed for the correct verification.
- Do not change the code in the last Notebook cell, it is required for the server check.
- Your Notebook must run completely without errors to be graded! Please check everything before submission by going *Cell -> Run All*

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [1]:
import sqlite3
import pandas as pd
import os

pd.set_option('display.max_column', None)

In [2]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect(os.environ.get("DB_PATH") or 'database.sqlite')

In [3]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)

In [4]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [5]:
answer = player_data[(player_data.height >= 180.0) & (player_data.height <= 190.0)].height.count()
answer

5925

In [6]:
players_180_190 = 5925

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>
**Hint:** you may want to cast your 'birthday' column to DateTime type by [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [7]:
player_data['birthday'] = player_data['birthday'].apply(pd.to_datetime)
answer = player_data[player_data.birthday.dt.year == 1980].birthday.count()
answer

434

In [8]:
players_1980 = 434

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [9]:
highest_players = player_data.sort_values(by=['weight', 'player_name'], ascending=[False, True])[:10]['player_name'].tolist()

In [10]:
highest_players

['Kristof van Hout',
 'Tim Wiese',
 'Jeroen Verhoeven',
 'Ishmael Miller',
 'Cassio',
 'Christopher Samba',
 'Lars Unnerstall',
 'Marcus Hahnemann',
 'Abdoulaye Faye',
 'Enoch Showunmi']

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [11]:
answer = [(year, player_data[player_data.birthday.dt.year == year].birthday.count()) for year in range(1980, 1991)]
answer

[(1980, 434),
 (1981, 475),
 (1982, 487),
 (1983, 541),
 (1984, 607),
 (1985, 593),
 (1986, 710),
 (1987, 722),
 (1988, 802),
 (1989, 723),
 (1990, 696)]

In [12]:
years_born_players = [(1980, 434),
 (1981, 475),
 (1982, 487),
 (1983, 541),
 (1984, 607),
 (1985, 593),
 (1986, 710),
 (1987, 722),
 (1988, 802),
 (1989, 723),
 (1990, 696)]

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [13]:
adrianos = player_data[player_data['player_name'].apply(lambda x: x.split(' ')[0]) == 'Adriano']
adrianos.height.mean(), adrianos.height.std()

(182.11800000000002, 5.361479480723788)

In [14]:
adriano_mean, adriano_std = 182.11800000000002, 5.361479480723788

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [15]:
weekdays = player_data.birthday.dt.dayofweek
weekdays.value_counts()

4    1685
1    1652
3    1648
0    1643
2    1607
5    1463
6    1362
Name: birthday, dtype: int64

In [16]:
dow_with_min_players_born = 'Sunday'

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

In [17]:
match_data = pd.read_sql("SELECT * FROM Match;", db)

In [18]:
match_data['date'] = match_data['date'].apply(pd.to_datetime)

In [19]:
league_matches = match_data.groupby('league_id').id.count()
league_matches

league_id
1        1728
1729     3040
4769     3040
7809     2448
10257    3017
13274    2448
15722    1920
17642    2052
19694    1824
21518    3040
24558    1422
Name: id, dtype: int64

In [20]:
league_data = pd.read_sql("SELECT * FROM League;", db)
league_data.merge(league_matches, left_on='id', right_on='league_id').sort_values(['id_y', 'name'], ascending=[False, True])

     id_x  country_id                      name  id_y
1    1729        1729    England Premier League  3040
2    4769        4769            France Ligue 1  3040
9   21518       21518           Spain LIGA BBVA  3040
4   10257       10257             Italy Serie A  3017
3    7809        7809     Germany 1. Bundesliga  2448
5   13274       13274    Netherlands Eredivisie  2448
7   17642       17642  Portugal Liga ZON Sagres  2052
6   15722       15722        Poland Ekstraklasa  1920
8   19694       19694   Scotland Premier League  1824
0       1           1    Belgium Jupiler League  1728
10  24558       24558  Switzerland Super League  1422

In [21]:
league_most_matches = 'England Premier League'

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable

In [22]:
player_data[player_data['player_api_id'] == 31293]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
9993,10009,31293,Steve Mandanda,163705,1985-03-28,185.42,181

In [23]:
column_names = [f'home_player_{s}' for s in range(1, 12)]
column_names += [f'away_player_{s}' for s in range(1, 12)]

In [24]:
player_api_matches = pd.Series(dtype='float64')
for col in column_names:
    player_api_matches = pd.concat([player_api_matches, match_data[col].value_counts()]).rename('player_api_matches')
    player_api_matches.index = player_api_matches.index.astype(int).rename('player_api_id')
    player_api_matches = player_api_matches.groupby(level='player_api_id').sum()
player_api_matches

player_api_id
2625      90
2752      81
2768      71
2770      16
2790      50
          ..
744907     1
746419     2
748432     2
750435     1
750584     1
Name: player_api_matches, Length: 11060, dtype: int64

In [25]:
answer = player_data.join(player_api_matches, on='player_api_id', lsuffix='', rsuffix='_count').sort_values('player_api_matches', ascending=False)
answer

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,player_api_matches
9993,10009,31293,Steve Mandanda,163705,1985-03-28,185.42,181,300
9954,9970,41097,Stephane Ruffier,167628,1986-09-27,187.96,198,294
3948,3952,33764,Gorka Iraizoz Moreno,114764,1981-03-06,190.50,196,286
9413,9427,42422,Samir Handanovic,162835,1984-07-14,193.04,196,286
10285,10301,31465,Tim Howard,16254,1979-03-06,190.50,194,282
...,...,...,...,...,...,...,...,...
10573,10589,39339,Veigar Pall Gunnarsson,127432,1980-03-21,175.26,172,1
720,723,237645,Andreas Hirzel,210776,1993-03-25,190.50,196,1
2680,2683,557587,Dino Islamovic,215817,1994-01-17,190.50,194,1
2682,2685,361735,Diogo Coelho,210560,1993-09-14,182.88,181,1
8955,8969,240338,Richard Strebinger,209990,1993-02-14,193.04,198,1

In [26]:
max_matches_player = 'Steve Mandanda'

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

**Hint:** You may use [dataframe.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) for calculating pairwise Pearson correlation.

In [27]:
attr_data = pd.read_sql("SELECT * FROM Player_Attributes;", db)

In [28]:
attr_data.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [29]:
attr_data.date = attr_data.date.apply(pd.to_datetime)

In [30]:
excl = ['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate']
attrs = attr_data.drop(excl, axis=1)
attrs.head()

,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,67.0,71.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,67.0,71.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,62.0,66.0,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,61.0,65.0,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,61.0,65.0,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [31]:
corrs = attrs.corr(method='pearson').abs().unstack().sort_values(ascending=False)[attrs.shape[1]:].iloc[::2]

In [32]:
ans = corrs.index.tolist()[:5]

In [33]:
top_correlated_features = [('gk_reflexes', 'gk_positioning'),
 ('gk_reflexes', 'gk_handling'),
 ('gk_handling', 'gk_positioning'),
 ('sliding_tackle', 'standing_tackle'),
 ('standing_tackle', 'marking')]

In [34]:
top_correlated_features

[('gk_reflexes', 'gk_positioning'),
 ('gk_reflexes', 'gk_handling'),
 ('gk_handling', 'gk_positioning'),
 ('sliding_tackle', 'standing_tackle'),
 ('standing_tackle', 'marking')]

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [35]:
attr_data_fresh = attr_data.sort_values(['player_api_id', 'date']).drop_duplicates(subset=['player_api_id'], keep='last')
attr_data_fresh.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
139843,139844,148544,2625,2015-01-16,61.0,61.0,right,medium,medium,50.0,47.0,46.0,52.0,39.0,50.0,51.0,50.0,64.0,62.0,67.0,63.0,74.0,49.0,76.0,68.0,63.0,77.0,56.0,54.0,71.0,64.0,49.0,55.0,66.0,62.0,63.0,54.0,12.0,11.0,6.0,8.0,8.0
44144,44145,135819,2752,2015-10-16,72.0,72.0,right,medium,medium,39.0,40.0,82.0,59.0,23.0,41.0,33.0,19.0,61.0,57.0,32.0,34.0,34.0,64.0,39.0,60.0,54.0,62.0,85.0,20.0,84.0,71.0,34.0,55.0,38.0,72.0,74.0,67.0,12.0,7.0,8.0,10.0,16.0
88284,88285,110019,2768,2016-03-17,74.0,74.0,left,medium,medium,44.0,45.0,72.0,74.0,31.0,44.0,50.0,22.0,60.0,63.0,51.0,53.0,58.0,77.0,61.0,41.0,79.0,34.0,72.0,20.0,65.0,80.0,40.0,60.0,16.0,76.0,76.0,77.0,12.0,15.0,13.0,14.0,10.0
72141,72142,182861,2770,2013-07-05,69.0,69.0,right,medium,low,58.0,66.0,64.0,72.0,55.0,70.0,74.0,73.0,70.0,71.0,54.0,48.0,58.0,69.0,65.0,72.0,54.0,47.0,61.0,74.0,64.0,41.0,71.0,68.0,69.0,33.0,43.0,25.0,12.0,13.0,6.0,14.0,15.0
5121,5122,110809,2790,2010-08-30,67.0,77.0,left,None,7,72.0,37.0,51.0,64.0,43.0,64.0,67.0,56.0,62.0,65.0,69.0,72.0,65.0,64.0,67.0,46.0,61.0,56.0,67.0,42.0,74.0,68.0,56.0,60.0,54.0,70.0,73.0,69.0,8.0,14.0,8.0,13.0,12.0

In [36]:
excl = ['id', 'player_fifa_api_id', 'player_api_id' , 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate']
neymar_attrs = attr_data_fresh[attr_data_fresh.player_api_id == 19533].drop(excl, axis=1)

In [37]:
excl = ['id', 'player_fifa_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate']
attr_data_fresh_filtered = attr_data_fresh.drop(excl, axis=1)

In [38]:
neymar_attrs = neymar_attrs.values.tolist()[0]

In [39]:
attrs_vec = attr_data_fresh_filtered.values.tolist()

In [40]:
import numpy as np
distances = dict()
for v in attrs_vec:
    ind = v[0]
    vec = v[1:]
    dist = np.linalg.norm(np.array(neymar_attrs) - np.array(vec))
    distances[ind] = dist
distances = pd.Series(distances).rename('distances')
distances.index = distances.index.rename('player_api_id')
distances = distances.sort_values().iloc[1:6]

In [41]:
distances = distances.to_frame()

In [42]:
ans = distances.merge(player_data, on='player_api_id')
ans = ans.player_name.tolist()
ans

['Paulo Dybala',
 'Eden Hazard',
 'Giovani dos Santos',
 'Arjen Robben',
 'Lionel Messi']

In [43]:
neymar_similarities = ['Paulo Dybala',
 'Eden Hazard',
 'Giovani dos Santos',
 'Arjen Robben',
 'Lionel Messi']

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [44]:
team_data = pd.read_sql("SELECT * FROM Team;", db)

In [45]:
team_data[team_data['team_api_id'] == 9825]

      id  team_api_id  team_fifa_api_id team_long_name team_short_name
27  3459         9825               1.0        Arsenal             ARS

In [46]:
team_data[team_data['team_long_name'] == 'Borussia Dortmund']

       id  team_api_id  team_fifa_api_id     team_long_name team_short_name
97  15620         9789              22.0  Borussia Dortmund             DOR

In [47]:
match_data[(match_data['home_team_api_id'] == 9789) & (match_data['season'] == '2008/2009')].shape[0]

17

In [48]:
borussia_bundesliga_2008_2009_matches = 17

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [49]:
match_data

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22,1992091,10190,10191,1,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,42231.0,678384.0,95220.0,638592.0,413155.0,45780.0,171229.0,67333.0,119839.0,143790.0,195215.0,462944.0,563066.0,8800.0,67304.0,158253.0,133126.0,186524.0,93223.0,121115.0,232110.0,289732.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23,1992092,9824,10199,1,2,1.0,3.0,5.0,7.0,2.0,4.0,6.0,8.0,5.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,3.0,5.0,7.0,3.0,5.0,7.0,1.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,9.0,11.0,11.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,33272.0,41621.0,25813.0,257845.0,114735.0,42237.0,113227.0,358156.0,32343.0,531309.0,37257.0,42276.0,114792.0,150007.0,178119.0,27232.0,570830.0,260708.0,201704.0,36382.0,34082.0,95257.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23,1992093,9956,10179,2,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,157856.0,274779.0,177689.0,294256.0,42258.0,39979.0,173936.0,147959.0,451983.0,80564.0,289472.0,10637.0,67349.0,202663.0,32597.0,114794.0,188114.0,25840.0,482200.0,95230.0,451335.0,275122.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22,1992094,7896,10243,0,0,1.0,2.0,4.0,6.0,8.0,3.0,7.0,5.0,3.0,5.0,7.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,NaN,8881.0,173534.0,39646.0,282287.0,340790.0,393337.0,8893.0,614454.0,93229.0,178142.0,274776.0,121080.0,197757.0,260964.0,231614.0,113235.0,41116.0,462608.0,42262.0,92252.0,194532.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23,1992095,10192,9931,4,3,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,274787.0,492132.0,108451.0,25815.0,94553.0,384376.0,598355.0,36785.0,45174.0,302079.0,71764.0,156175.0,95216.0,172768.0,22834.0,458806.0,207234.0,25772.0,40274.0,34035.0,41726.0,527103.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
home_match_count = match_data[(match_data['league_id'] == 7809) & (match_data['season'] == '2008/2009')]['home_team_api_id'].value_counts()
away_match_count = match_data[(match_data['league_id'] == 7809) & (match_data['season'] == '2008/2009')]['away_team_api_id'].value_counts()
match_count = pd.concat([home_match_count, away_match_count]).rename('match_count')
match_count.index = match_count.index.rename('team_api_id')
match_count = match_count.groupby(level='team_api_id').sum().sort_values(ascending=False)

In [51]:
match_count

team_api_id
8177     34
8178     34
10189    34
9912     34
9911     34
9904     34
9823     34
9810     34
9790     34
9789     34
9788     34
8722     34
8721     34
8697     34
8398     34
8295     34
8226     34
10269    34
Name: match_count, dtype: int64

In [52]:
team_most_matches_bundesliga_2008_2009 = 34

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [53]:
team_data[team_data.team_long_name == 'Arsenal']

      id  team_api_id  team_fifa_api_id team_long_name team_short_name
27  3459         9825               1.0        Arsenal             ARS

In [54]:
arsenal_home_matches = match_data[(match_data['home_team_api_id'] == 9825) & (match_data['season'] == '2015/2016') & (match_data['home_team_goal'] > match_data['away_team_goal'])]
arsenal_away_matches = match_data[(match_data['away_team_api_id'] == 9825) & (match_data['season'] == '2015/2016') & (match_data['home_team_goal'] < match_data['away_team_goal'])]
arsenal_matches = pd.concat([arsenal_home_matches, arsenal_away_matches])
arsenal_matches.shape[0]

20

In [55]:
arsenal_won_matches_2015_2016 = 20

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [56]:
H = set(match_data['home_team_api_id'].tolist())
A = set(match_data['away_team_api_id'].tolist())
T = list(H.union(A))

In [57]:
win_rates_teams = pd.DataFrame(T, columns=['team_api_id']).set_index('team_api_id')
win_rates_teams['win_rate'] = 0

In [58]:
for team in T:
    team_home_all = match_data[(match_data['home_team_api_id'] == team) & (match_data['season'] == '2015/2016')].shape[0]
    team_home_wins = match_data[(match_data['home_team_api_id'] == team) & (match_data['season'] == '2015/2016') & (match_data['home_team_goal'] > match_data['away_team_goal'])].shape[0]
    team_away_all = match_data[(match_data['away_team_api_id'] == team) & (match_data['season'] == '2015/2016')].shape[0]
    team_away_wins = match_data[(match_data['away_team_api_id'] == team) & (match_data['season'] == '2015/2016') & (match_data['home_team_goal'] < match_data['away_team_goal'])].shape[0]
    if team_home_all + team_away_all > 0:
        win_rates_teams.loc[team, 'win_rate'] = (team_home_wins + team_away_wins) / (team_home_all + team_away_all)

In [59]:
win_rates_teams.sort_values('win_rate', ascending=False).iloc[:1]

             win_rate
team_api_id
9772         0.852941

In [60]:
team_data[team_data['team_api_id'] == 9772]

        id  team_api_id  team_fifa_api_id team_long_name team_short_name
216  35294         9772             234.0     SL Benfica             BEN

In [61]:
team_highest_winrate_2015_2016 = 'SL Benfica'

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [65]:
league_data[league_data['name'] == 'England Premier League']

     id  country_id                    name
1  1729        1729  England Premier League

In [66]:
H = set(match_data[(match_data['league_id']==1729) & (match_data['season'] == '2010/2011')]['home_team_api_id'].tolist())
A = set(match_data[(match_data['league_id']==1729) & (match_data['season'] == '2010/2011')]['away_team_api_id'].tolist())
T = list(H.union(A))

In [80]:
max_gap = 0
for team in T:
    team_matches = match_data[(match_data['season'] == '2010/2011') & ((match_data['home_team_api_id'] == team) | (match_data['away_team_api_id'] == team))]
    team_matches = team_matches.sort_values('date')
    dates = team_matches['date'].tolist()
    if len(dates) > 1:
        for i in range(len(dates)-1):
            max_gap = max(max_gap, (dates[i + 1] - dates[i]).days)

In [81]:
max_gap

18

In [82]:
highest_gap_england_2010_2011 = 18

### Warning! Do not change anything in the area below

In [83]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")